---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: GitRepository
metadata:
  name: {{ tenant_name }}
  namespace: {{ tenant_namespace }}
spec:
  interval: 1m0s
  ref:
    branch: {{ gh_branch }}
  url: {{ gh_url }}
  secretRef:
    name: {{ tenant_name }}-auth

---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: {{ tenant_name }}
  namespace: {{ tenant_namespace }}
spec:
  interval: 1m0s
  path: ./
  prune: true
  serviceAccountName: {{ tenant_name }}-sa
  sourceRef:
    kind: GitRepository
    name: {{ tenant_name }}
